


@media screen and (min-width:1600px){
    .container{
        max-width:1560px;
    }
}
@media screen and (max-width:1599px){
    .container {
		max-width: 1460px;
	}
}

@media screen and (max-width:1199){
  
    body{
        font-size:12px;
    }
    .cons-image{
        width:100px;
    }
   .blog .box{
        width:20rem;
    }
}